$background_color_1: #ECEBEC;

body {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
}

main {
  // structure
  display: flex;
  flex-direction: row;
  width: 800px;
  height: 600px;
  margin: auto;
  // style
  background: $background_color_1;
}

.panel {
  // structure
  height: 100%;
  // style
  background: red;
}

#panel_1 {
  // struct
  flex: auto;
  // style
  border-right: white thin solid;
}

#panel_2 {
  // struct
  width: 300px;
  // style
}
