<!DOCTYPE html>
<html ng-app="phoneStats">
  <head>
    <meta charset="utf-8">
    <title>PhoneStats Formula</title>
    <link rel="stylesheet" href="/css/master.css" media="screen" title="no title" charset="utf-8">
  </head>
  <body ng-controller="StringController as strings">

    <header>

    </header>

    <nav>
      <form class="">
        <button type="button" name="select-general" ng-click="strings.setFormType('general')">General</button>
        <button type="button" name="select-software" ng-click="strings.setFormType('software')">Software</button>
        <button type="button" name="select-email" ng-click="strings.setFormType('email')">Email</button>
        <button type="button" name="select-transfer" ng-click="strings.setFormType('transfer')">Transfer</button>
        <button type="button" name="select-service" ng-click="strings.setFormType('service')">Service</button>
        <button type="button" name="select-print" ng-click="strings.setFormType('print')">Print</button>

        <button type="button" name="reset" ng-click="strings.resetForm()">Reset</button>
      </form>
    </nav>

    <main class="view-pane">
      <section id="generated-string">
        <span>{{strings.segment_1}}</span>
        <span ng-hide="strings.segment_1 == ''">;</span>
        <span>{{strings.segment_2}}</span>
        <span ng-hide="strings.segment_2 == ''">;</span>
        <span>{{strings.segment_3}}</span>
        <span ng-hide="strings.segment_3 == ''">;</span>
        <span>{{strings.summary}}</span>
      </section>
      <section id="">

        <form>
          <fieldset class="segment">
            <legend>Segment 1</legend>
            <input ng-model="strings.segment_1" type="text" name="segment-1" value="" placeholder="Information goes here">
            </input>
          </fieldset>

          <fieldset class="segment">
            <legend>Segment 2</legend>
            <input ng-model="strings.segment_2" type="text" name="segment-2" value="" placeholder="Information goes here">
            </input>
          </fieldset>

          <fieldset class="segment">
            <legend>Segment 3</legend>
            <input ng-model="strings.segment_3" type="text" name="segment-3" value="" placeholder="Information goes here">
            </input>
          </fieldset>

          <fieldset>
            <legend>Summary</legend>
            <textarea ng-model="strings.summary" name="summary" rows="8" cols="40"></textarea>
          </fieldset>
        </form>

      </section>
    </main>

    <footer>
      The form type is "{{strings.formType}}"
    </footer>

    <!-- Dependencies -->
    <script src="./js/vendors.js"></script>
    <script src="./js/app.js"></script>

  </body>
</html>
